* {
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
}

body {
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(85, 107, 47, 0.158);
}
/* Ебашим минюху */

nav.navigationMinuContainer {
    display: flex;
    justify-content: flex-end;
    background-color: beige;
    padding-left: 200px;
    padding-right: 200px;
}

ul.navigationMenu {
    align-items: flex-end;
}

.navigationMenu li a {
    transition: 0.3;
}

.navigationMenu li a:hover {
    color: brown;
}

